<template>
    <div>
        <h1>{{ message }}</h1>
    </div>
</template>

<script>
    export default {
        name: "scraper",
        data() {
            return {
                message: 'This is a Vue.JS Application rendered through Django',
            }
        },
    }
</script>

<style scoped>

</style>