{% extends 'index.html' %}
{% block content %}


{% if items_json %}
<script type='text/javascript'>
    var invoices = {{ items_json|safe }};

</script>
<div id="app">

    <div class="container">
        <h1>Historical Invoices</h1>
        <p> User: [[ invoices[0].email ]]</p>
        <b-form-input
                v-model="filter"
                placeholder="Search an item trough the table ..."
        ></b-form-input>
        <b-table bordered
                 :fields="fields"
                 :items="invoices"
                 :filter="filter"
        >

        </b-table>
    </div>
</div>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            message: 'This is the dashboard',
            invoices: invoices,
            fields: [
                {key: 'number', sortable: true},
                {key: 'client_name', sortable: true},
                {key: 'date', sortable: true},
                {key: 'total_ttc', sortable: true},
                {key: 'vat', sortable: true},
            ],
            filter: null
        }
    });
</script>

{% else %}
<div id="app-error">

    <div class="container">
        <h1>There is no user selected.</h1>
        <b-button type="button"
                  variant="info"
                  href="http://127.0.0.1:8000/">
            Go select user
        </b-button>
    </div>
</div>
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-error',
    });
</script>
{% endif %}


<style lang="scss">
    #app, #app-error {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    .container {
        width: 80%;
        text-align: left;
    }


</style>
{% endblock %}

