{% extends 'index.html' %}
{% block content %}

<div id="app">
    <h1>[[message]]</h1>

    <div class="container">
        <h2>Scraper Form</h2>
        {{ error_invoices }}
        <form action="/" method="POST" class="form">
            {% csrf_token %}

            <input id="input-1"
                   name="email"
                   type="email"
                   required
                   placeholder="Enter your Factomos email"/>

            <input id="text-password"
                   name="password"
                   type="password"
                   required
                   placeholder="Enter your Factomos password"/>

            <button type="submit">Scrap it</button>
        </form>
    </div>

</div>


<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            message: 'This is a Django Template with VueJS',
        },
    });
</script>

<style lang="scss">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    .container {
        width: 80%;
        text-align: left;
    }

    .form {
        display: flex;
        flex-direction: column;
    }
</style>
{% endblock %}